@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;600;700&display=swap');

body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 15px;
    height: 100vh;
    background: rgb(101,101,231);
    background: linear-gradient(0deg, rgba(101,101,231,1) 0%, rgba(175,103,233,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 65vw;
    height: 55vh;
    background-color: #fff;
    border-radius: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.cont-left{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60vh;
    position: relative;
    align-items: center;
    justify-content: flex-start;
}

.to-overflow {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.bg-pattern {
    width: 100%;
    scale: 215%;
    justify-self: end;
    position: relative;
    right: 23.5vw;
    bottom: 9.5vh;
}

.oim-shadow {
    display: none;
}

.online-illustration {
    position: absolute;
    right: 5vw;
}

.box-img {
    position: absolute;
    top: 25.5vh;;
    right: 25.5vw;
    z-index: +100;
    filter: drop-shadow(5px 6px 27px rgba(0, 0, 0, 0.51));
}

.cont-right {
    display: flex;
    flex-direction: column;
    padding: 4vw;
    gap: 2vh;
    width: -webkit-fill-available
}

.question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: hsl(237, 12%, 33%);
}

.question-clicked {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
}

.arrow {
    transform: rotate(0deg);
}

.arrow.rotated {
    transform: rotate(180deg);
}

.answer {
    height: 0;
    display: none;
    overflow: hidden;
}

.answer.visible {
    display: block;
    height: auto;
    color: hsl(240, 6%, 50%);
    line-height: 2.5vh;
}


.arrow:hover {
    cursor: pointer;
}


.main-questions {
}

.header > h1 {
    font-size: 28px;
    font-weight: 600;
    margin: 0;
}

.qa-block {
    color: hsl(238, 29%, 16%);
    font-weight: 500;
    border-bottom: solid thin hsl(240, 5%, 91%);

}
.onilne-illustration-mobile {
    display: none;
}

#Color-Palete {

/* ### Primary */

/* #### Text */

/* - Very dark desaturated blue */
color: hsl(238, 29%, 16%);

/* - Soft red */
color: hsl(14, 88%, 65%);

/* #### Gradient */

/* Background gradient: */

/* - Soft violet */
color: hsl(273, 75%, 66%);

/* - Soft blue */
color: hsl(240, 73%, 65%);

/* ### Neutral */

/* #### Text */

/* - Very dark grayish blue */
color: hsl(237, 12%, 33%);
/* - Dark grayish blue */
color: hsl(240, 6%, 50%);

/* #### Dividers */

/* - Light grayish blue */
color: hsl(240, 5%, 91%);

}
.attribution { 
    font-size: 11px; text-align: center; 
    position: absolute;

    bottom: 8px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media screen and (max-width: 375px){

    main {
        display: flex;
        flex-direction: column;
        width: 90%;
        gap: 0;
        height: fit-content;
        position: fixed;
    }

    .cont-left {
        height: 11vh;
    }
    
    .to-overflow {
        display: none;
    }

    .bg-pattern {
        display: none;
    }

    .box-img {
        display: none;
    }

    .online-illustration {
        display: none;
    }

    .oim-shadow {
        display: block;
        width: 65%;
    }

    .onilne-illustration-mobile {
        display: flex;
        position: absolute;
        bottom: 3.5vh;
        width: 65%;
    }

    .cont-right {
        align-items: center;
        margin-bottom: 3vh;
    }

    .header > h1 {
        text-align: center;
        font-size: 36px;
    }

    .main-questions {
        width: 90%;
        font-size: 13px;
    }
}